@import "../../../styles/Common.scss";

.imageTile {
  @include buttonReset;

  display: grid;
  grid-template-rows: 80% 20%;
  border: 1px solid darkgrey;
  border-radius: 8px;
  box-sizing: content-box;
  text-decoration: none;

  &:hover,
  &:focus {
    border: 1px solid black;
  }
}

.smallTile,
.smallTile > .tileImage {
  height: 64px;
  width: 64px;
}

.mediumTile,
.mediumTile > .tileImage {
  height: 128px;
  width: 128px;
}

.largeTile,
.largeTile > .tileImage {
  height: 256px;
  width: 256px;
}

.tileImage {
  border-radius: 8px;
}

.tileTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;
  background-color: lightgray;
}

.tileDescription {
  display: none;
}

.imageTile:hover .tileDescription {
  display: flex;
}
